button {
  color: white;
  border: none;
  padding: 0.4rem;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  transition: filter 0.3s ease;
  min-width: max-content;
  font-family: 'comfortaa', sans-serif;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.1);
}

button.primary {
  font-weight: bold;
  padding: 1rem 2rem;
  font-size: 1rem;
}

button.secondary{
  font-style: italic;
  padding: 1rem 2rem;
  font-size: 1rem;
}

button.round {
  border-radius: 1rem;
  border-radius: 2.5rem;
  min-width: 5rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-block: 1rem;
}

button.metal {
  background: linear-gradient(90deg, #554f5f58, #7e757d55, #34333646);
}

button.metal:hover {
  filter: brightness(1.1);
}

button.pink {
  background-color: #DC3861;
}

.button.pink:hover {
  filter: brightness(1.1);
}

button.square {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}

button.select-flight {
  background: linear-gradient(90deg, #000000, #1F1F1F, #000000);
  border-radius: 0;
  width: 100%;
  padding-block: 1rem;
}

button.select-flight#businessButton.selected {
  background: var(--gradient-accent);
  border: 1px solid #fff;
}

button.select-flight#economyButton.selected {
  background: var(--gradient-accent-2);
  border: 1px solid #fff;
}
