.popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0000009f;
  border-radius: 0.5rem;
  border: 1px solid var(--color-white-translucent);
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 45vw;
  height: max-content;
  backdrop-filter: blur(2.5px);
}

.popup header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.popup header h2 {
  color: white;
  font-size: 1.5rem;
}

.popup header p {
  color: white;
  font-size: 1rem;
}

.popup header div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup.active {
  display: grid; /* Show popup when active */
  grid-template-rows: 50px 1fr 80px;
  gap: 1rem;
}

.popup footer {
  bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.5rem;
  min-height: 20vh;
  background-color: rgba(0, 0, 0, 0.150);
}

.popup-content fieldset,
.popup-content input,
.popup-content legend,
.popup-content select,
.popup-content textarea,
.popup-content .inputbutton {
  border: 1px solid var(--color-white);
}

.popup-content ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.386);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.popup-content ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.popup-content ul li h4 {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.popup-content ul li .passenger-control {
    display: flex;
    flex-direction: row;
}

.popup-instruction {
  font-size: medium;
}

@media screen and (max-width: 768px) {
  .popup {
    width: 90vw;
  }
}