/* style.css */
:root {
  --color-white: #ffffff;
  --color-white-translucent: #ffffff22;
  --color-black: #000000;
  --color-black-light: #0000002d;
  --color-black-hover: #00000022;
  --color-black-translucent: #00000044;
  --color-accent: #DC3861;
  --color-background: #00000C;
  --color-form-background: #cfcfcf32;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --gradient-accent: linear-gradient(90deg, rgba(220,56,97,1) 0%, rgba(229,142,65,1) 100%);
  --gradient-accent-dark: linear-gradient(90deg, rgba(133,35,60,1) 0%, rgba(119,74,35,1) 100%);
  --gradient-accent-2: linear-gradient(90deg, #986885 0%, #5D6C8E 100%);
}

/* Reset styles */
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

html, body {
  height: 100%; 
  overflow-x: hidden; 
}

body {
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-background);
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
}

main.index {
  display: grid;
  grid-template-rows: repeat(auto-fill, 100vh);
  position: relative; /* Keep relative if needed for positioning child elements */
  height: 100vh; /* Ensure it covers the viewport height at least */
  scroll-snap-type: y proximity;
  overflow-y: scroll; 
  overflow-x: hidden;
}

section {
  height: 100vh;
  position: relative;
  /*margin-block: calc((100vh - var(--section-height)) / 2);*/
  scroll-snap-align: start;
  display: grid;
  place-items: center;
}

section .text-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
}

section .text-image div button {
  width: max-content;
}

section .text-image hr {
  width: 100%;
}

section .text-image div {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section .text-image img{
  width: 100%;
  height: auto;
}

section .center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

hr {
  margin-block: 1rem;
  border: 2px solid var(--color-accent);
  width: 70%;
}

.banner {
  scroll-snap-align: start;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.banner .banner-image {
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100vw;
  z-index: 1000;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.planebanner nav img {
  width: auto;
  height: 50px;
}

nav img {
  width: auto;
  height: 50px;
}

nav ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.2rem;
}

fieldset,
input,
legend,
select,
textarea,
.inputbutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-black-light);
  color: var(--color-white);
  border: none;
  padding: 0.4rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease;
  min-width: max-content;
  text-align: start;
  font-family: 'comfortaa', sans-serif;
  max-width: 300px;
}

input:focus,
select:focus,
textarea:focus,
.inputbutton:focus {
  outline: none;
}

select:hover,
.inputbutton:hover,
textarea:hover,
input:hover {
  background-color: var(--color-black-hover);
  cursor: pointer;
}

main footer {
  position: relative;
  bottom: 0;
  background: linear-gradient(90deg, #000000, #1F1F1F, #000000);
  color: #fff;
  padding: 2rem;
  font-family: 'Hanken Grotesk', sans-serif;
  scroll-snap-align: end;
  border-top: 1px solid #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-accent); /* Red underline */
  display: inline-block;
  padding-bottom: 0.3rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.8rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: var(--color-accent); /* Highlight on hover */
}

.footer-logo {
  text-align: center;
  margin-top: 2rem;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.search-parameters {
  width: 100%;
  padding: 1rem;
  height: min-content;
}

.search-parameters ul {
  margin-block: 1rem;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.search-parameters ul li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  padding: 1rem;
}

/* General container for each flight result */
.flight-result {
  background: #141414;
  color: white;
  min-width: 45%;
  flex: 1;
  padding: 20px;
  font-family: 'Hanken Grotesk', sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 1px solid var(--color-white);
}

.flight-result .selected {
  background: var(--gradient-accent);
}

/* Title area (flight time and details) */
.flight-result .header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.flight-result .header h3 {
  font-size: 18px;
  margin: 0;
}

.flight-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.flight-route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 30px;
  width: 100%;
}

.flight-route img {
  height: 100%;
}

/* Styled buttons for classes */
.flight-classes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}

.flight-class {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: var(--color-form-background);
}

/* Info section for luggage and perks */
.info-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  padding-top: 10px;
}

.info-section ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.info-section ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.book-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.book-section h4 {
  font-size: 1.5rem;
  margin: 0;
}

.flight-result.selected .book-section h4 {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
}

.flight-result .book-section button {
  display: none;
}

.flight-result.selected .book-section button {
  display: block;
}

.perks span {
  display: inline-block;
  background: var(--gradient-accent);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
}

.form-container {
  position: absolute;
  bottom: 2rem;
  left: 0;
  gap: 1rem;
  padding-inline: 1rem;
  height: fit-content;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 1rem;
}

form .input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-form-background);
  padding: 1rem;
  flex: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 var(--color-shadow);
  backdrop-filter: blur(5px);
  min-width: 200px;
}

.search-result-section {
  margin-top: 5rem;
  z-index: 2;
  background-color: var(--color-black-translucent);
  box-shadow: 0 -10px 10px var(--color-black-translucent) ;
}

.businessPerks {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  color: transparent;
}

main#book {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  grid-template-areas: "banner" 
                       "booking";
}

.planebanner {
  grid-area: banner;
  max-height: 60vh;
}

.planebanner img {
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: center;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 0;
}

.booking-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  grid-area: booking;
  padding: 1rem;
  background: linear-gradient(90deg, #000000, #1F1F1F, #000000);
  box-shadow: 0 0 10px 0 var(--color-shadow);
  backdrop-filter: blur(5px);
  z-index: 2;
}

.booking-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-container form input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
}

@media screen and (min-width: 1200px) {
  .form-container {
    position: absolute;
    bottom: 1rem;
    left: 0;
    gap: 1rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;
    justify-content: end;
  }

  .form-container form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .search-parameters ul {
    display: flex;
    flex-direction: column;
  }

  .results-container {
    flex-direction: column;
  }

  .flight-result {
    min-width: 100%;
  }

  .form-container {
    width: 100vw;
    margin-bottom: 0;
  }

  .form-container form {
    width: 100%;
  }

  .input-container {
    flex: 0.5;
  }

  section .center-text {
    padding: 2rem;
    font-size: 1rem;
  }

  section .text-image {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}


