* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #00000C;
  overflow: hidden scroll;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20vh;
  padding: 20px;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: min-content;
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  z-index: 1000;
}

nav img {
  width: auto;
  height: 50px;
}

nav ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.form-container {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-container input,
.form-container select,
.form-container button {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
}

.form-container button {
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
}

.features-section {
  margin: 50px 0; /* Consistent margin between sections */
}

.features-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.features {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.features div {
  text-align: center;
  width: 250px; /* Fixed width for feature boxes */
}

.features img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.features p {
  font-size: 1rem;
  color: #dcdcdc;
}
